In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/sales_data.csv")
df.head()

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [4]:
df = df[['OrderDate','Quantity','UnitPrice','Discount']]

In [5]:
df.rename(columns={
    'OrderDate':'date',
    'Quantity':'units_sold',
    'UnitPrice':'price',
    'Discount':'discount'
}, inplace=True)

In [6]:
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month
df['day_of_week'] = df['date'].dt.dayofweek
df['is_weekend'] = df['day_of_week'].isin([5,6]).astype(int)

In [21]:
df['discount'] = df['discount'].fillna(0)
df = df.dropna(subset=['price','units_sold'])

In [23]:
df['competitor_price'] = df['price'] * np.random.uniform(0.9,1.1,len(df))

In [25]:
df.head()

,date,units_sold,price,discount,month,day_of_week,is_weekend,competitor_price
0,2023-01-31,3,106.59,0.00,1,1,0,114.889809
1,2023-12-30,1,251.37,0.05,12,5,1,262.207677
2,2022-05-10,3,35.03,0.10,5,1,0,34.773672
3,2023-07-18,5,33.58,0.15,7,1,0,34.275574
4,2023-02-04,2,515.64,0.25,2,5,1,510.883201

In [27]:
df.to_csv("data/cleaned_sales_data.csv", index=False)